@font-face {
    font-family:ocs;
    src:url('./font/OpenSans-Regular.ttf')format("truetype");
}

*{
    font-family:ocs;
    color: #3f3D52;
    font-size: 14px;
}

.Display4{
    font-size: 28px;
    font-weight: bold;
}

.Display3{
    font-size: 24px;
    font-weight: bold;
}

.Display2{
    font-size: 20px;
    font-weight: bold;
}

.Display1{
    font-size: 18px;
    font-weight: bold;
}

.Heading{
    font-size: 16px;
    font-weight: bold;
}
.SubHeading{
    font-size: 13px;
    font-weight: bold;
}
.BodyCopy{
    font-size: 14px;
    font-weight: normal;
}
.Caption{
    font-size: 12px;
    font-weight: normal;
}
.ThinBody{
    font-size:10px;
    font-weight:lighter;
}

.Lighter{
    color: #f5f5f7;
}
.Light{
    color:#c6c2f2;
}
.Purple{
    color:#655cc4;
}
.Dark{
    color:#282078;
}
.Darker{
    color:#040033;
}
.TextColor{
    color:#3f3d52;
}
.uppercase { text-transform: uppercase; }


body{ margin:0px; padding: 0px; border: 0px;}

.section-container{
    display: flex;
}

/* This is the sidebar area */
.section-a{
    width: 235px;
    height: 100%;
    overflow: auto;
}

/* This is the content area */
.section-b{
    display: flex;
    flex:1;
    flex-direction: column;
    background: #F5F7F7;
}

/* This is the top nav area */
.navigation{
    height: 60px;
    background: white;
}

/* This is the content */
.content{
    display: flex;
    overflow-y: auto;
    flex: 1 1 auto;
    overflow-x: scroll;
    height: 0;
}
.lighterBorder{
    border: 1px solid #E8E4ED;
}
.greyBackGround{
    background-color: #FAFAFA;
}
.whiteBackGround{
    background-color: #FFFFFF;
}
.regHeight{
    height:40px;
    padding-left: 10px;
    padding-right: 10px;
}
.purpleButton{
    background-color: #905CC4;
}
.smPadding{

    padding-left: 5px;
    padding-right: 5px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #C7C6CD;
    opacity: 1; /* Firefox */
    font-size:13px;
    font-weight:lighter;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #C7C6CD;
    font-size:13px;
    font-weight:lighter;

}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #C7C6CD;
    font-size:13px;
    font-weight:lighter;

}

/*VON INPUTS*/
.container{
    margin: 0px auto;
    max-width: 1200px;
    width: 100%;
}

/* Styles applied only for Edit.js Page */
/* Change color of the 'x' icon in language list */
.ProductEdit-root-189 .LanguageSetting-textIconColor-213.icon-add-16:before{
    color:#905CC4;
}

/* hide the dropdown form controls inside the "Variant Options" list */
.ProductEdit-root-189 .css-1wy0on6{
    display: none;
}

/* Variant Options List */
/* container of the tag */
.ProductEdit-root-189 .css-1ns25le{
    box-shadow: inset 0 2px 2px 0px #ededed;
    background-color: #F5F5F7;
    border: 1px solid #E1E0EB;
    min-height: 80px;
    display: flex;
    align-items: start;
    padding-top: 8px;
}
/* body of tag tag */
.ProductEdit-root-189 .css-1rtrksz >div{
    background-color: #ffffff !important;
    border: 1px solid #efefef;
}
/* text of the tag */
.ProductEdit-root-189 .css-1rtrksz >div>div:first-child{
    color: #311052 !important;
    font-size: 14px;
    font-weight: 700;
}
/* icon (x) of the tag */
.ProductEdit-root-189 .css-1rtrksz >div>div:nth-child(2) svg path{
    color: #905CC4 !important;
}
/*VON END*/





