* {
    font-family: 'ProximaNova', sans-serif;
    font-weight: 200;
    letter-spacing: 0.01em;
}

html, body, #root, .frame {
    height: 100%;
}

.frame {
    display: flex;
}












.frame.visitor {
    background-color: #8048c3;
}
.frame.visitor .logo {
    color: #fff;
    font-size: 26px;
    text-align: center;
    text-transform: uppercase;
}
.frame.visitor .form {
    background-color: #fff;
    padding: 25px 35px;
    border-radius: 3px;
    box-shadow: 0 0 15px #666;
}
.frame.visitor .form .head {
    display: flex;
    margin-bottom: 30px;
    flex-direction: column;
    align-items: center;
}
.frame.visitor .form .head p {
    color: #969696;
}
.frame.visitor .form .field {
    width: 100%;
    margin-bottom: 15px;
}
.frame.visitor .form .field > div {
    position: relative;
}
.frame.visitor .form .field label {
    font-weight: 300;
    color: #7f7e8c;
}
.frame.visitor .form .field i {
    position: absolute;
    color: #b4b2bf;
    top: 7.5px;
    left: 8px;
    font-size: 15px;
}
.frame.visitor .form .field input {
    background-color: #f5f5f7;
    border: 1px solid #e2e0eb;
    width: 100%;
    height: 30px;
    padding: 5px 5px 5px 32px;
    color: #3f3d52;
    border-radius: 3px;
}
.frame.visitor .form button {
    display: block;
    width: 100%;
    background-color: #895cc5;
    border-width: 0;
    padding: 8px 0;
    color: #fff;
    border-radius: 3px;
}



.frame.visitor .body {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}















.frame.user, .frame.user .body, .frame.user .body .wrapper {
    display: flex;
    flex: 1;
}

.frame.user #sidebar {
    width: 230px;
    height: 100%;
    background-color: #2e2832;
}
.frame.user #logo {
    background-color: #8048c3;
    padding: 10px 15px;
}
.frame.user #logo a {
    color: #fff;
    font-size: 21px;
}
.frame.user #sidebar #menus {
    padding: 30px 0;
}
.frame.user #sidebar #menus .menu {
    padding: 5px 0;
}
.frame.user #sidebar #menus .menu .head {
    padding: 0 20px;
    display: flex;
}
.frame.user #sidebar #menus .menu .head h6 {
    flex: 1;
    color: #a5a2a9;
}
.frame.user #sidebar #menus .menu .head .creation {
    display: flex;
    justify-content: center;
    align-items: center;
}
.frame.user #sidebar #menus .menu .head .creation button {
    background-color: transparent;
    color: #fff;
    border: none;
}
.frame.user #sidebar #menus .menu ul {
    padding: 0;
    list-style: none;
}
.frame.user #sidebar #menus .menu a {
    color: #fff;
    display: block;
    padding: 10px 20px;
}
.frame.user #sidebar #menus .menu ul li.active a,
.frame.user #sidebar #menus .menu a:hover,
.frame.user #sidebar #menus .menu a:visited,
.frame.user #sidebar #menus .menu a:focus {
    background-color: #201b22;
    text-decoration: none;
}
.frame.user #main {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #fbfbfb;
}
.frame.user #main #topbar {
    display: flex;
    border-bottom: 1px solid #e8ebf2;
    padding: 5px 0;
    background-color: #fff;
}
.frame.user #main #topbar #search-bar {
    flex: 13;
    padding: 0 20px;
}
.frame.user #main #topbar #search-bar input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #e5e4ec;
    padding: 0 10px 0 35px;
}
.frame.user #main #topbar #toolbar button,
.frame.user #main #topbar #user-menu button {
    border: none;
    background-color: transparent;
}
.frame.user #main #topbar #toolbar {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    padding: 0 10px;
}
.frame.user #main #topbar #user-menu {
    display: flex;
    border-left: 1px solid #eee;
}
.frame.user #main #topbar #user-menu > .head {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}
.frame.user #main #topbar #user-menu .avatar {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 15px;
    border: 1px solid #e1e1e1;
}
.frame.user #main #topbar #user-menu .avatar img {
    width: 30px;
}
.frame.user #main #topbar #user-menu .name {
    margin: 0 10px;
}

.frame.user #main #header {
    display: flex;
    border-bottom: 1px solid #e7ecf2;
    background-color: #fff;
}
.frame.user #main #header .name {
    display: flex;
    flex: 1;
    padding: 8px 20px;
    justify-content: center;
    flex-direction: column;
}
.frame.user #main #header .name h1 {
    font-size: 14px;
    margin: 0;
    color: #3f3d52;
}
.frame.user #main #header .name p {
    font-size: 12px;
    font-weight: 300;
    margin: 0;
    color: #bcbcbc;
}
.frame.user #main #header .menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
}
.frame.user #main #header .menu li {
    display: inline-block;
}
.frame.user #main #header .menu li a {
    display: block;
    padding: 10px 20px;
    text-transform: uppercase;
    color: #9d9ba0;
    font-size: 13px;
    text-decoration: none;
}
.frame.user #main #header .menu li.active a {
    color: #925bc3;
}


.frame.user #main #content {
    flex: 1;
    padding: 30px 35px;
    overflow-x: hidden;
}



#content list .body .overview > div .avatar {
    width: 20px;
    height: 20px;
    background-size: cover;
    border-radius: 3px;
    margin-right: 10px;
}
#content .list .body .details .shipping {
    padding: 20px;
}
#content .list .body .details .shipping h6 button {
    border: none;
    background-color: transparent;
    font-size: 11px;
    color: #dadada;
}
#content .list .body .details .shipping p {
    white-space: pre;
    width: 220px;
}
#content .list .body .details .shipping ul {
    padding: 0 20px;
}
#content .list .body .details .shipping .address {
    margin-bottom: 20px;
}








#product .content {
    display: flex;
}
#product .content .option-details {
    min-width: 350px;
}
#product .content .attribute {
    display: flex;
}
#product .content .product-details span.status {
    font-size: 13px;
    color: #a8a8a8;
}
















.form .field-group {
    display: flex;
}
.form .sections {
    max-height: 350px;
    overflow-x: hidden;
}
.form .sections .section .heading {
    display: flex;
}



.list .head .columns {
    display: flex;
}
.list .head .columns > div {
    flex: 1;
    padding: 15px;
    color: #a5a2a9;
    text-transform: uppercase;
}
.list .body {
    display: flex;
    flex-direction: column;
    box-shadow: -10px 0 20px #eee;
}
.list .body .overview {
    display: flex;
    background-color: #fff;
    border-bottom: 1px solid #e5e4ec;
}
.list .body .overview > div {
    flex: 1;
    padding: 15px;
    cursor: pointer;
    display: flex;
}
.list .body .details {
    display: flex;
}
.list .body .details > div {
    flex: 1;
}
.list .body .details .items {
    padding: 20px;
}
.list .body .details h6 {
    font-weight: 600;
    font-size: 13px;
}
.list .body .details .items label {
    font-weight: 400;
}



.tabs .tab-contents .tab-content {
    display: none;
}


.react-modal {
    max-width: none;
}